# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment and IDE files
.DS_Store
.env
__venv__/
.idea/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
